table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#titulos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.languages{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

td{
    width: 100%;
}