#projects{
    padding-top: 100px;
}

#tituloProjects{
    margin: 50px;
    padding: 25px;
    border-bottom: 2px solid gray;
}

#Container-Projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.card-Project{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card-content{
    padding: 25px;
    text-align: left;
    margin: auto;
    max-width: 500px;
}

.imgFake{
    background-color: rgb(122, 113, 113);
    height: 300px;
    width: 500px;
    cursor: pointer;
}

.tecnologiesUsed{
    margin: 5px;
    transition: 0.5s;
    filter: grayscale(0.3);
    cursor: pointer;
}

.tecnologiesUsed:hover{
    margin: 5px;
    transform: scale(1.1);
    transition: 0.5s;
    filter: grayscale(0);
}

.project-picture{
    transition: .5s cubic-bezier(.5,.03,.41,1);
    z-index: 1;
}

.project-picture:hover{
    cursor: pointer; 
    transform: translate(-15px, -15px);
    transition: .5s cubic-bezier(.5,.03,.41,1);
}

.picturebox{
    margin: auto;
    background-color: gray;
    height: 300px;
}

#show-more{
    color: white;
    width: 250px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px;
}

#show-more:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#view-more-button{
    text-decoration: none;
    color: black;
}
